<div id="sidebar-container" class="barra-lateral">
  <div class="logo">
    <h4 class="text-light font-weight-bold">Supermercado Huertas</h4>
  </div>
  <div class="menu">
    <a href="#" class="d-block text-light p-3 mr-2">Productos</a>
    <a href="#" class="d-block text-light p-3 mr-2">Clientes</a>
    <a href="#" class="d-block text-light p-3 mr-2">Proveedores</a>
    <a href="#" class="d-block text-light p-3 mr-2">Trabajadores</a>
    <a href="#" class="d-block text-light p-3 mr-2">Emprendimientos</a>
  </div>
</div>

