<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="diseño/producto :: head"></head>
	<body>
		<header th:replace="diseño/producto :: header"></header>
		
		<div class="container">
			<h1 class="text-center border border-success border-top-0 border-left-0 border-right-0" style="color: rgb(76, 50, 172);" th:text="${titulo}"></h1>
			<form th:action="@{/crearProducto}" th:object="${producto}" method="POST">
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Nombre</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{nombre}" class="form-control" th:errorclass="'form-control alert-danger'" />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Categoria</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{categoria}" class="form-control" th:errorclass="'form-control alert-danger'" />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></small>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Precio</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{precio}" class="form-control" th:errorclass="'form-control alert-danger'" />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></small>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Fecha</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{fechaProducto}" class="form-control" th:errorclass="'form-control alert-danger'" />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('fechaProducto')}" th:errors="*{fechaProducto}"></small>
					</div>
				</div>
				
				<div class="form-group row">
					<div class="col-sm-6">
						<input type="submit" value="Crear Cliente" class="btn btn-success" />
					</div>
				</div>
			</form>
		</div>
		
		<footer style="width:100%" th:replace="diseño/producto :: footer"></footer>
	</body>
</html>

